@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurar que todo ocupe la altura completa */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  width: 250px; /* Ancho fijo del menú */
  min-width: 250px; /* Evita que se reduzca */
}